rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /comments/{commentId} {
      // 誰でも読める
      allow read;
      // 書き込みは認証不要（バックエンドからのみ想定）
      allow write;
    }
  }
}
